<div class="banner" style="">
  <div class="container">
    <h1>Create your <strong>movie list</strong> now!</h1>
    <p>Change your life and create one of these fantastic lists today.</p>
    <%= link_to 'Create list', new_list_path, class: 'btn btn-flat' %>
  </div>
</div>

<div class="container my-3">
  <% @lists.each do |list| %>
    <div class="card-product">
      <%= cl_image_tag(list.photo.key, crop: :fill, class: "card-image avatar-large") %>
      <div class="card-product-infos">
        <div class="card-item-h2">
          <h2><%= list.name %></h2>
        </div>
        <div class="card-item-link">
          <%= link_to 'See more', list_path(list), class: 'btn btn-primary button-green' %>
        </div>
      </div>
    </div>
  <% end %>
  <%= link_to 'Create list', new_list_path, class: 'btn btn-primary mt-4 button-green' %>
</div>
